---
layout: default
---
        <tr>
          <td width="50%" height="40" rowspan="2" valign="top" class="brodtext"><p class="rubrik1"><strong>Bilder
              från föreningens hus och gård</strong></p>
          </td>          
          <td width="50%"valign="top" class="brodtext">&nbsp;</td></tr>
		     <tr>
          <tr>
          <td width="50%" valign="top" class="brodtext"><strong>Klippmuren<br>            
            <img src="bilder/garden/gard1.jpg" width="500" height="332"></strong></td>
          <td width="50%" valign="top" class="brodtext"><strong>Grillplatsen<br>            
            <img src="bilder/garden/gard3.jpg" width="500" height="332"></strong></td>
          </tr>
		   <tr>
          <td width="50%" valign="top" class="brodtext"><strong>Gräsplan<br>            
            <img src="bilder/garden/gard6.jpg" width="500" height="332"></strong></td>
          <td width="50%" valign="top" class="brodtext"><strong> Miljöhuset<img src="bilder/garden/miljohus.jpg" width="500" height="332"></strong></td>
          </tr>
		   <tr>
          <td width="50%" valign="top" class="brodtext"><strong>Tidig vårblomning<br>            
            <img src="bilder/garden/gard8.jpg" width="497" height="281"><br>
          </strong></td>
          <td width="50%" valign="top" class="brodtext"><strong>Hösten är på väg<br>            
            <img src="bilder/garden/gard9.jpg" width="500" height="281"></strong></td>
          </tr>
		   <tr>
          <td width="50%" valign="top" class="brodtext"><strong>Port 16 C utifrån<img src="bilder/garden/Port16c.jpg" width="500" height="332"></strong></td>
          <td width="50%" valign="top" class="brodtext"><strong>Port 16C inifrån<br>            
            <img src="bilder/garden/port16c_2.jpg" width="500" height="332"></strong></td>
          </tr>
		   <tr>
          <td width="50%" valign="top" class="brodtext"><strong>Våningsplan C-port<br>            
            <img src="bilder/garden/port16c_3.jpg" width="500" height="332"></strong></td>
          <td width="50%" valign="top" class="brodtext"><strong>Verkstadsrum<br>            
            <img src="bilder/garden/Verkrum.jpg" width="500" height="332"><br>
          </strong></td>
          </tr>
		    <tr>
          <td width="50%" valign="top" class="brodtext"><p><strong><a name="uthyr"></a>Övernattningsrum pentrydel<br>
            <img src="bilder/garden/uthyrrum2.jpg" width="500" height="332">          </strong></p></td>
          <td width="50%" valign="top" class="brodtext"><strong>Övernattningssrum<br>
            <img src="bilder/garden/uthyrrum3.jpg" width="500" height="332">          </strong></td>
          </tr>
		    <tr>
          <td width="50%" valign="top" class="brodtext"><p><strong>En av tvättstugorna
          </strong><strong><br>
          <img src="bilder/garden/tvatt1.jpg" width="500" height="332">            </strong></p>
            </td>
          <td width="50%" valign="top" class="brodtext"><strong>Torkrum<br>
            <img src="bilder/garden/tvatt2.jpg" width="500" height="332">          </strong></td>
          </tr>
		  <tr>
          <td width="50%" valign="top" class="brodtext"><p><strong>Parkeringen</strong><strong><br>
          <img src="bilder/garden/parkering.jpg" width="500" height="332">            </strong></p>
            </td>
          <td width="50%" valign="top" class="brodtext"><strong>Garaget<br>
            <img src="bilder/garden/garage.jpg" width="500" height="332">          </strong></td>
          </tr>
