body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: normal;
	background-image: url(../bilder/tegel.gif);
	background-attachment: fixed;
	background-repeat: repeat;
	margin: 5px 10% 5px;
	clear: both;
	height: auto;
	width: auto;
	color: #000000;
	font-style: normal;

}
.rubrik1  {
	font-size: 12pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3366CC;
	font-weight: bold;

}
h1  {
	font-size: 12pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3366CC;
	font-weight: bold;

}

.rubrik2  {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3366CC;

}
h2  {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3366CC;

}
.brodtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
p,li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    div
    {
        column-count: 1 !important;
    }
    table
    {
        width: auto !important;
        height: auto !important;
        cellpadding: 0 !important;
        border: 0 !important;
    }
}
