<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{{page.title}}</title>
<meta charset="utf-8">
<link href="guide.css" rel="stylesheet" type="text/css">
</head>

{{ content }}

</body>
</html>
